html {
    height: 100%;
}
body {
    width: 100%;
    min-width: 375px;
    height: 100%;
    background: #404040;
    overflow-y: scroll;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image:url('/images/bg.png');
}
p {
    font-size: 1.0em; /* 14 / 14 */
    line-height: 1.5em; /* 21 / 14 */
    margin-bottom: 1.5em; /* 21 / 14 */
}
a {
    color: white;
}
a:hover {
    color: white;
}

table {
    border-spacing: 0;
    width: 100%;
}
table th,
table td {
    vertical-align: middle;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
}
table th:first-of-type,
table td:first-of-type {
    padding-left: 10px;
}
table th:last-of-type,
table td:last-of-type {
    padding-left: 10px;
}
table th {
    background-color: #CFCFCF;
    color: #525252;
    font-size: 0.8em;
    text-transform: uppercase;
}
table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#master-header {
    position: fixed;
    width: 100%;
    height: 34px;
    background-color: #160f09;
    z-index: 99;
    color: #808080;
    border-bottom: 1px solid #ffffff;
}
.master-header-inner {
    max-width: 880px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.master-header-logo {
    position: relative;
    flex: auto;
}
.master-header-icon {
    position: absolute;
    top: 2px;
    width: 350px;
    height: 50px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;

    &> a {
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 26px;
        text-shadow: #000 2px 2px 5px;
        height: 100%;
        width: 100%;
        margin-left: 50px;
        text-decoration: none;
    }
}

.master-header-social {
    align-self: center;
    margin-right: 5px;
}
.master-header-social ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.master-header-social li {
    font-size: 0.7em;
    align-self: center;
    height: 100%;
    list-style: none;
}
.master-header-social a {
    height: 16px;
    width: 16px;
    display: block;
}
.master-header-social-github {
    background-image:url('/images/github.png');
    background-size: 100%;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

#master-content {
    width: 100%;
    box-sizing: border-box;
}
.master-content-inner {
    max-width: 880px;
    margin: 0 auto;
    padding: 70px 5px 0 5px;
}

.game-selector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-bottom: 25px;
}
.game-selector-text {
    color: black;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-right: 15px;
}
.game-selector-options {
    display: flex;

    &> div {
        width: 50px;
        height: 50px;
        background-size: 100%;
    }
    & a {
        display: block;
        height: 100%;
        width: 100%;
    }
    .game-selector-on {
        opacity: 1;
    }
    .game-selector-off {
        opacity: 0.4;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}
#game-selector-wow {
    background-image:url('/images/wow-logo.png');
}
#game-selector-destiny {
    background-image:url('/images/destiny-logo.png');
}
#game-selector-division {
    background-image:url('/images/division-logo.png');
}