.destiny-profile-name {
    font-weight: bold;
    font-size: 18px;
    
    @media screen and (max-width: 700px) {
        font-size: 13px !important;
    }
}
.destiny-profile-triumphs {
    font-size: 11px;
    color: #dbdbdb;
    font-style: italic;
}

.destiny-profile-details {
    display: flex;
    align-items: center;
    flex: 1 0;
}
.destiny-character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 33%;
}
.destiny-character-pad {
    flex: 1 0 auto;
    margin: 0 12px;
    display: flex;
    justify-content: center;
}

.destiny-character-emblem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    position: relative;
    width: 100%;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
        width: 34px;
        padding: 0 12px 0 40px !important;
    }
}
.destiny-character-class {
    background-image:url('/images/destiny-classes.png')
    background-size: 124px 51px;
    background-repeat: no-repeat;
    width: 35px;
    height: 55px;
    position: absolute;
    top: -4px;
    right: 5px;

    &.destiny-character-class-0 { background-position: -43px 0; }
    &.destiny-character-class-1 { background-position: -4px 0; }
    &.destiny-character-class-2 { background-position: -82px 0; }
    
    @media screen and (max-width: 700px) {
        right: 50px !important;
    }
}
.destiny-character-details {
    position: absolute;
    top: 8px;
    left: 40px;
}
.destiny-character-light {
    color: #e0e04e;
    text-shadow: 1px 1px black;

    &:after {
        content: "\2726 ";
        color: #e0e04e;
        padding-left: 3px;
    }
}
.destiny-character-level {
    font-weight: bold;
}
.destiny-character-stats {
    display: flex;
    position: absolute;
    top: 4px;
    right: 44px;
    
    @media screen and (max-width: 890px) {
        visibility: hidden;
    }
}
.destiny-character-stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.destiny-character-stat-Power {
        display: none;
    }
}
.destiny-character-stat-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.destiny-character-stat-value {

}

.destiny-clan-members {
    display: flex;
    justify-content: space-between;
    background-color: #160f09;
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;

    & span {
        font-weight: bold;
    }
}