.division-profile-name {
    font-weight: bold;
    font-size: 18px;
    
    @media screen and (max-width: 650px) {
        font-size: 13px !important;
    }
}
.division-profile-spec {
    font-size: 11px;
    color: #dbdbdb;
    font-style: italic;
}

.division-profile-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;

    &> div {
        flex: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
        align-items: center;
    }
    & > div:first-of-type {
        margin-left: 10px;
    }
    & > div:last-of-type {
        margin-right: 10px;

        @media screen and (max-width: 650px) {
            margin-right: 0px !important;
        }
    }
}
.division-profile-details-text {
    &:before {
        color: #dbdbdb;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }
}
