.division-titles {
    display: flex;
    background-color: #160f09;
    min-height: 50px;
    border-radius: 5px 5px 0 0;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}
.division-title-agent {
    flex: 0 0 250px;
    
    @media screen and (max-width: 650px) {
        flex: 0 0 150px !important;
    }
}

.division-title-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;

    &> div {
        flex: 1;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    & > div:first-of-type {
        margin-left: 10px;
    }
    & > div:last-of-type {
        margin-right: 10px;

        @media screen and (max-width: 650px) {
            margin-right: 0px !important;
        }
    }
}

.division-profiles {
    &> div:nth-of-type(odd) {
        background-color: #353535;
        
        .division-profile-details > div:hover {
            background-color: #313131;
            cursor: pointer;
        }
    }
    &> div:nth-of-type(even) {
        background-color: #2d2d2d;

        .division-profile-details > div:hover {
            background-color: #292929;
            cursor: pointer;
        }
    }
}
.division-profile {
    display: flex;
    border-bottom: 1px solid #383838;
    min-height: 40px;
    overflow: hidden;
}
.division-profile-agent {
    display: flex;
    flex: 0 0 250px;
    
    @media screen and (max-width: 650px) {
        flex: 0 0 150px !important;
    }
}
.division-profile-avatar {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-self: center;
    margin: 5px;
}
.division-profile-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    @media screen and (max-width: 650px) {
        margin-left: 3px !important;
    }
}

.division-profile-name {
    font-weight: bold;
    font-size: 18px;
    
    @media screen and (max-width: 650px) {
        font-size: 13px !important;
    }
}
.division-profile-spec {
    font-size: 11px;
    color: #dbdbdb;
    font-style: italic;
}

.division-profile-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;

    &> div {
        flex: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
        align-items: center;
    }
    & > div:first-of-type {
        margin-left: 10px;
    }
    & > div:last-of-type {
        margin-right: 10px;

        @media screen and (max-width: 650px) {
            margin-right: 0px !important;
        }
    }
}
.division-profile-details-text {
    &:before {
        color: #dbdbdb;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }
}