<div id="destiny-container">
    {{#each destinyData}}
        <div class="destiny-clan-members">
            <div><span>Name: </span>{{displayName}}</div>
            <div><span>Last Played: </span>{{lastPlayed}}</div>
            <div><span>Light: </span>{{characters.0.light}}</div>
        </div>
    {{/each}}
</div>